.tooltip-inner {
    background-color: #faebd7 !important;
    /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
    color: #000;
    border-color: #000;
    border-style: solid;
    border-width: thin;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: #000 !important;
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    border-top-color: #faebd7 !important;
}
.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    border-top-color: #faebd7 !important;
}
.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-top-color: #faebd7 !important;
}

.label1 {
    padding-right: 0;
    max-width: 25%;
    width: 25%;
}
.msg {
    padding: 5px;
    color: black;
    font-weight: bold;
    display: none;
}
.error {
    background-color: rgba(127, 0, 0, 0.2);
}
.success {
    background-color: rgba(0, 127, 0, 0.2);
}
tr {
    background: #fff;
    color: #261F1D;
}
tr:hover {
    color: #261F1D;
    background-color: #EEE;
}
tr.highlighted:hover {
    color: #fff;
    background-color: #17a2b8;
}
.highlighted {
    color: #fff;
    background-color: #17a2b8;
}
th {
    background: #007bff;
    color: #fff;
/*font-weight: bold;*/

